@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.icon-message {
    mask-image: url(message.svg);
    -webkit-mask-image: url(message.svg);
}
.icon-gallery{
    mask-image: url(galery.svg);
    -webkit-mask-image: url(galery.svg);
}
.icon-mic{
    mask-image: url(mic.svg);
    -webkit-mask-image: url(mic.svg);
}
.icon-video{
    mask-image: url(video.svg);
    -webkit-mask-image: url(video.svg);
}
.icon-star{
    mask-image: url(star.svg);
    -webkit-mask-image: url(star.svg);

}