
.header {
    padding: 24px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    transition: .3s;
}


.header.moved {
    padding: 10px 0;
}

.header.moved .header-body {
    padding: 7px 12px;
}

.header-body {
    padding: 12px;
    width: 100%;
    background: var(--light-black2);
    align-items: center;
    border-radius: 12px;
    transition: .3s;

}

.header-body::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    padding: 1px;
    background: linear-gradient(105.61deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;

}


.header-body.active {
    backdrop-filter: unset;

}

.header-logo {
    max-width: 156px;
    width: 100%;
    display: flex;
    margin-left: 8px;
}

.menu-list {
    gap: 56px;
}

.menu-bg {
    display: none;
}

.menu-list-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: var(--white);
    transition: .3s;
}

.logo-mobile {
    display: none;
}

.menu-list-link:hover {
    color: var(--green);
}

.header-actions {
    gap: 12px;
}

.burger {
    display: none;
}


.header-mobile-actions {
    display: none;
}

.btn-login {
    padding: 12px 38px;
    background: var(--dark-black);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    color: var(--white);
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}

.btn-login::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: var(--green);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0;
}

.btn-login:hover::before {
    width: 0%;
    height: 0%;
    opacity: 1;
}

.btn-login:hover {
    background: var(--green);
    color: var(--dark-black);
}

.btn-login span {
    position: relative;
    z-index: 1;
}

.btn-register {
    background: var(--green);
    padding: 12px 45px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    border-radius: 6px;
    color: var(--white);
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}


.btn-register::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: var(--black);
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.2;
}

.btn-register:hover::before {
    width: 0%;
    height: 0%;
    opacity: 1;
}



.btn-register span {
    position: relative;
    z-index: 1;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

    .menu-bg {
        background: #444444;
        backdrop-filter: blur(6px);
        position: fixed;
        display: block;
        top: -150%;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: .3s;

    }

    .menu-bg.active {
        top: 0;

    }

    .menu {
        position: fixed;
        right: 0;
        top: -150%;
        width: 100%;
        height: 100%;
        transition: .3s;
        z-index: 3;
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 10px;
        border-radius: 16px;
        max-width: 95%;
        max-height: max-content;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%);

    }

    .menu-mobile-cnt {
        width: 100%;
        height: max-content;
        padding: 30px 12px 12px 12px;
        position: relative;
        background: var(--light-black2);

    }


    .menu.active {
        top: 116px;
    }


    .menu-list {
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: center;
        margin-top: 32px;

    }


    .burger {
        background: #1B1B1B;
        width: 22px;
        height: 14px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 100px;
        cursor: pointer;
        transition: .3s;
        z-index: 4;
    }

    .burger span {
        width: 100%;
        display: block;
        height: 2.3px;
        background: #FFFFFF;
        transition: .3s;
        border-radius: 5px;

    }

    .burger::after {
        width: 100%;
        content: '';
        display: block;
        height: 2.3px;
        background: #FFFFFF;
        transition: .3s;
        border-radius: 5px;

    }

    .burger::before {
        width: 100%;
        content: '';
        display: block;
        height: 2.5px;
        background: #FFFFFF;
        transition: .3s;
        border-radius: 5px;

    }


    .burger.active span {
        opacity: 0;
        visibility: hidden;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 4px;
        position: relative;
        height: 1.5px;


    }

    .header-mobile-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 40px auto 0;
        max-width: 308px;
        width: 100%;
    }


    .burger.active::after {
        transform: rotate(45deg);
        bottom: 8px;
        height: 1.5px;
        position: relative;
    }

    .menu-clue {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #000000;
        margin-top: 8px;

    }

    .header-actions {
        display: none;
    }


}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .header {
        padding: 15px 0;
    }


    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .menu.active {
        top: 84px;
    }


    .header-body {
        padding: 16px 12px;
    }

    .header-logo {
        margin-left: 0;
    }


}